@theme {
  /* Main */
  --color-main-1000: #0e4fcc;
  --color-main-900: #1263ff;
  --color-main-800: #4182ff;
  --color-main-700: #5992ff;
  --color-main-600: #71a1ff;
  --color-main-500: #a6c5ff;
  --color-main-400: #b8d0ff;
  --color-main-300: #d0e0ff;
  --color-main-200: #e7efff;
  --color-main-100: #e7efff;

  /* Sub */
  --color-sub-1000: #a6cc4b;
  --color-sub-900: #cfff5e;
  --color-sub-800: #d9ff7e;
  --color-sub-700: #ddff8e;
  --color-sub-600: #e2ff9e;
  --color-sub-500: #e7ffae;
  --color-sub-400: #f1ffcf;
  --color-sub-300: #f5ffdf;
  --color-sub-200: #faffef;
  --color-sub-100: #fdfff7;

  /* Etc */
  --color-background: #f6f7f9;
  --color-overlay: rgba(0, 0, 0, 0.3);
  --color-kakao-brand: #fee500;

  /* Grayscale */
  --color-gray-black: #1a1a1a;
  --color-gray-900: #3a3a3b;
  --color-gray-800: #464748;
  --color-gray-700: #656667;
  --color-gray-600: #868789;
  --color-gray-500: #acadae;
  --color-gray-400: #cacbcd;
  --color-gray-300: #e4e4e6;
  --color-gray-200: #f1f1f3;
  --color-gray-100: #f6f7f9;
  --color-gray-white: #ffffff;

  /* Team */
  --color-team-ncdinos-background: #fff4d1;
  --color-team-ncdinos-text: #cc5f00;
  --color-team-doosan-background: #d6daff;
  --color-team-doosan-text: #000d9d;
  --color-team-ktwiz-background: #ffd7d9;
  --color-team-ktwiz-text: #ed1b24;
  --color-team-ssglanders-background: #fff2ca;
  --color-team-ssglanders-text: #d07300;
  --color-team-kiwoom-background: #ffdbf1;
  --color-team-kiwoom-text: #eb008f;
  --color-team-lottegiants-background: #cfdeff;
  --color-team-lottegiants-text: #092442;
  --color-team-hanhwaeagles-background: #fff1ea;
  --color-team-hanhwaeagles-text: #fb4c00;
  --color-team-lgtwins-background: #ffcbdc;
  --color-team-lgtwins-text: #c00c5a;
  --color-team-kiatigers-background: #ffc6d0;
  --color-team-kiatigers-text: #ea0029;
  --color-team-samsunglions-background: #cceaff;
  --color-team-samsunglions-text: #0063b1;

  /* Week */
  --color-week-red: #ec5d5d;
  --color-week-blue: #397bff;

  /* State */
  --color-state-success: #00c400;
  --color-state-error: #ef2626;

  /* Z-Index */
  --z-header: 6;
  --z-bottom-nav: 8;
  --z-under-header-section: 5;
  --z-modal: 7;
  --z-card-profile-1: 4;
  --z-card-profile-2: 3;
  --z-card-profile-3: 2;
  --z-card-profile-4: 1;

  /* Z-Index (Negative) */
  --z-negative-1: -1;
  --z-negative-5: -5;
}

@layer utilities {
  /* Shadow */
  .shadow-1 {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }

  .shadow-2 {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  }

  .matching-modal-backdrop {
    @apply fixed top-0 left-0 w-full h-full whitespace-pre-line;
    background: var(--etc-overlay, rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(2px);
  }

  /* Typography */
  .title_24_sb {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: -0.1rem;
  }

  .head_20_sb {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
  }

  .head_20_m {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
  }

  .subhead_18_sb {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  .body_16_b {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .body_16_m {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .cap_14_sb {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  .cap_14_m {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  .cap_12_m {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
